/* CSS Document */

/*
	Description: javascript exercise
	Author: mariejtvigil
*/



/*   General & Basic Styles   */

body{
	font-family: "Roboto Slab", sans-serif;
	font-weight: 300;
	font-size: 2em;
}


h1, h2, h3 {
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	text-align: left;
}

h1 {
	color: dodgerblue;
}


/*   Highlights for search feature   */


.highlight {
	background-color: lightblue;
	font-size: large;
}

span.highlighted {
	background-color: #161616;
	font-weight: bold;
}
span.term0 {
	background-color: #161633;
}
span.term1 {
	background-color: #331616;
}
span.term2 {
	background-color: #163316;
}