/* CSS Document */

/*
	Description: javascript exercise
	Author: mariejtvigil
*/



/*   General & Basic Styles   */

body{
	font-family: "Roboto Slab", sans-serif;
	font-weight: 300;
	font-size: 2em;
}